@import "custom.scss";


.footer-section-1 {
  background-color: #3a3a3a;
  color: #888888;
}

.footer-section-2 {
  background-color: #202020;
  color: #555555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
